body {
	background-image: url(../images/cheapfab.png);
	padding:0;
	font-family:"Georgia", "Times New Roman", Times, serif;
	font-size:16px;
	color:#777777;
}

.container {
	width:960px;
	margin:0 auto;
}


header {
	width:960px;
	margin:0 auto;
	width:960px;
	position:absolute;
	min-width:320px;
	max-width:960px;
	background-color:#ffffff;
	border-bottom:solid 2px #cccccc;
}

.nav, .logo {
	float:left;
	top:0px;
}

.logo {
	background-color:#4aaaa5;
	width:270px;
	position:relative;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	margin-left:20px;
}

h1 {
	color:#ffffff;
	font-size:26px;
}

.nav {
	position:relative;
	width:670px;
}

ul {
	position:relative;
	font-family:georgia;
    list-style-type: none;
    margin: 0px;
    padding: 0px 15px;
    overflow: hidden;
    background-color: #ffffff;
}

li {
	position:relative;
	top:0px;
	font-size:1rem;
    float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #4aaaa5;
}

.left-bar, .right-bar {
	background-color:#ffffff;
	float:left;
	margin-top:50px;
	padding:10px;
	border-bottom:solid 3px #dddddd;
}

h2, h3 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#4aaaa5;
	padding-bottom:10px;
	border-bottom:solid 1px #dddddd;
}

h2 {
	font-size:24px;
}

h3 {
	font-size:20px;
	text-align:center;
}

.left-bar {
	width:645px;
	max-width:955px;
	margin-right:5px;
}

.biopic {
	float:left;
	margin-right:15px;
}

.image {
	display:inline-block;
	padding:1%;
}

.desc {
	background-color:#4aaaa5;
	position:relative;
	bottom:45px;
	line-height:1.5em;
	padding:2%;
}

.right-bar {
	width:270px;
	max-width:955px;
}

.conpic {
	height:50px;
	width:50px;
}

.bottom {
	background-color:#666666;
	width:960px;
	min-width:320px;
	max-width:960px;
	clear:both;
	overflow:auto;
	border-top:solid 2px #4aaaa5;
	line-height:200%;
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
}

@media only screen and (max-width: 979px) {

	[class*="container"] {
		width: 100%;
	}

	[class*="top"] {
		width:100%;
	}

	[class*="logo"] {
		width:30%;
	}

	[class*="nav"] {
		width:60%;
	}

    [class*="right-bar"] {
        width: 25%;
    }

    [class*="left-bar"] {
    	width: 70%;
    }

    [class*="bottom"] {
    	width: 100%;
    }
}

@media only screen and (max-width: 768px) {

	[class*="container"] {
		width: 100%;
	}

	[class*="top"] {
		width:100%;
	}

	[class*="logo"] {
		width:40%;
	}

	[class*="nav"] {
		width:45%;
	}

    [class*="right-bar"] {
        width: 95%;
		margin-left:5px;
		margin-top:5px;
    }

    [class*="left-bar"] {
    	width: 90%;
		margin-left:5px;
    }

    [class*="bottom"] {
    	width: 100%;
    }
}


@media only screen and (max-width: 640px) {

	[class*="top"] {
		width:100%;
	}

	[class*="logo"] {
		width:100%;
		margin-left:0;
	}

	[class*="nav"] {
		width:100%;
		position:absolute;
		top:45px;
	}
	nav li {
		text-align:center;
	}
	[class*="header"] {
		position:static;
		width:100%
	}

    [class*="right-bar"] {
        width: 95%;
        position:relative;
        margin-top:65px;
        padding-top:15px;
    }

    [class*="image"] {
    	width:100%;
    }

    [class*="desc"] {
    	width:86%;
    	position:relative;
    	bottom:80px;
    }

    [class*="left-bar"] {
    	width:95%;
    	position:relative;
    	top:55px;
    	padding-top:15px;
    }

    img{
    	width:90%;
    }

   	[class*="bottom"] {
   		width: 100%;
   	}
}

@media only screen and (max-width: 320px) {
}